<section class="post-list">
{%- if include.posts.size > 0 -%}
  <!-- <ul class="post-list"> -->
  {% for post in include.posts %}
      {% assign current_year = post.date | date: "%Y" %}
      {% if current_year != year %}
          <!-- {% unless forloop.first %}</ul>{% endunless %} -->
          {% if include.show_year %}<h2 class="post-list-heading">{{ current_year }}</h2>{% endif %}
          <!-- <ul> -->
          {% assign year = current_year %}
      {% endif %}
      
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <!-- <li> -->
        <span class="post-meta">{{ post.date | date: date_format }}</span>{%- include post-tags.html post=post -%}
        <h3 class="post-list-item"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
      <!-- </li> -->
   
      <!-- {% if forloop.last %}</ul>{% endif %} -->
  {% endfor %}
  <!-- </ul> -->
{%- endif -%}
</section>
