---
---

@font-face {
    font-family: 'Europa Regular';
    src: url('../fonts/europa-regular-webfont.ttf') format('truetype');
}

$base-font-family: 'Lora';
$heading-font-family: 'Prata';
$misc-font-family: 'Work Sans';

$monospace-font-family: 'Cousine', monospace;
$base-font-size: 17px !default;

code {
	font-family: $monospace-font-family;
}

.post-tag {
	text-decoration: none !important; 
	font-family: $monospace-font-family;
}

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Lora|Cousine|Libre+Baskerville|Prata|Work+Sans');
@import url("https://use.typekit.net/jgn0wbv.css");

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
}

.post-list-item, .post-meta, .site-header, .site-footer {
  font-family: $misc-font-family;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width:         calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}
